<!doctype html>
<html lang="en">
<head>
  <title>INICIO</title>
  <meta charset= "utf-8">
  <meta name= "viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie-edge">
  <link rel="stylesheet"type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet"type="text/css" href="css/menu.css">
  <link href="css/business-casual.css" rel="stylesheet">
   
 
</head>
<body>

  <div id="wrapper" class="toggled"> 

    <!-- Sidebar -->
    <div style="background-color:#000F1B" id="sidebar-wrapper" class="toggled"> >
      
      <div class="list-group list-group-flush toggled" >
        <div class="sidebar-heading text-light" style="background-color:#000F1B" >MENU PRINCIPAL </div>
        <a href="home.html" class="list-group-item list-group-item-action text-light" style="background-color:#000F1B" >Inicio</a>
        <a href="miperfil.html" class="list-group-item list-group-item-action text-light" style="background-color:#000F1B" >Mi perfil</a>
        <a href="operaciones.html" class="list-group-item list-group-item-action text-light" style="background-color:#000F1B">Mis operaciones</a>
        <a href="historial.html" class="list-group-item list-group-item-action text-light" style="background-color:#000F1B" >Mi historial</a>
        <a href="#" class="list-group-item list-group-item-action text-light" style="background-color:#000F1B" >Cerrar sesion</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

     <nav class="navbar navbar-expand "style="background-color:#000F1B">
       <div>
            <img src="imagenes/icono-menu2.png" alt="" id="menu-toggle"class="menu-bar"> 
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class=""><span class="sr-only">(current)</span> <img src="imagenes/logo3.png" class="w-50 float-right"></a>
            </li>
          </ul>
        </div>
      </nav>
  </div>

  <div class="container">
    <div class=" text-center bg-faded p-3">
        <h2>
          <span class="section-heading-lower">COTIZACIONES</span>
        </h2> 
                    <form id="formDivisa1">
                      <div class="jumbotron">
                      <div class="form-group row">
                          <label for="inputApellido" class="col-sm-2 col-form-label">DIVISA</label>
                          <div class="col-sm-10">
                          <input class="form-control" id="campoDivisa1" type="text" placeholder="USD/JPY" readonly>
                          </div>
                      </div>
                      <div class="form-group row">
                          <label for="inputApellido" class="col-sm-2 col-form-label">VALOR</label>
                          <div class="col-sm-10">
                          <input class="form-control" id="campoValor1" type="text" placeholder="VALOR" readonly>
                          </div>
                      </div>
                      <div class="form-group row">
                          <div class="col-sm-12">
                          <button onClick="abrir_comprard1(); return false;" class="btn btn-success">COMPRAR</button>
                          <button onClick="abrir_venderd1(); return false;"  class="btn btn-danger">VENDER</button>
                          </div>
                      </div>   
                      
                    </form>

                       <form id="formDivisa2">
                          <div class="form-group row">
                              <label for="inputApellido" class="col-sm-2 col-form-label">DIVISA</label>
                              <div class="col-sm-10">
                              <input class="form-control" id="campoDivisa2" type="text" placeholder="AUD/USD" readonly>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label for="inputApellido" class="col-sm-2 col-form-label">VALOR</label>
                              <div class="col-sm-10">
                              <input class="form-control" id="campoValor2" type="text" placeholder="VALOR" readonly>
                              </div>
                          </div>
                              <button onClick="abrir_comprard2(); return false;" class="btn btn-success">COMPRAR</button>
                              <button onClick="abrir_venderd2(); return false;" class="btn btn-danger">VENDER</button>       
                       </form>
      
                </div>   
        </div>
      </div>
    </div>
  </div>
  </div>
 


		<!-- /.container -->
		<script src="js/jquery-3.3.1.min.js"></script>
		<script src="js/popper.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>


<!-- Menu Toggle Script -->
  
  <script>
   $("#menu-toggle").click(function(e) { 
 
    e.preventDefault(); 
 
    $("#wrapper").toggleClass("toggled"); 
 
});
  </script>

  <script type="text/javascript">

    $(document).ready(function(){
      traerdivisas();
    });

    setInterval('traerdivisas()',3000); 

    function traerdivisas(){

      cambiardivisa1();
      cambiardivisa2();
    }

    function cambiardivisa1(){
      $.ajax({
          url:'http://localhost:8080/ProyectoForex-web/api/divisa/divisa1/valor/'+document.cookie,
          headers:{
              'TokenAuto':document.cookie
          },
          type: 'GET',
          contentType: 'application/json',
          success: function(data,textStatus,jQxhr){
            document.getElementById('campoDivisa1').value = data[0].nombredivisa;
            document.getElementById('campoValor1').value = data[0].valorandom;
          },
          error: function(jqXhr,textStatus,errorThrown){
            alert(textStatus);
          }
        });
    }


        function cambiardivisa2(){
          $.ajax({
          url:'http://localhost:8080/ProyectoForex-web/api/divisa/divisa2/valor/'+document.cookie,
          headers:{
              'TokenAuto':document.cookie
          },
          type: 'GET',
          contentType: 'application/json',
          success: function(data,textStatus,jQxhr){
            document.getElementById('campoDivisa2').value = data[0].nombredivisa;
            document.getElementById('campoValor2').value = data[0].valorandom;
          },
          error: function(jqXhr,textStatus,errorThrown){
            alert(textStatus);
          }
        });

        }

 
        function abrir_comprard1(){
           window.location="comprar1.html?d1="+document.getElementById('campoDivisa1').value+"&v1="+document.getElementById('campoValor1').value;
        }

        function abrir_venderd1(){
           window.location="vender1.html?d1="+document.getElementById('campoDivisa1').value+"&v1="+document.getElementById('campoValor1').value;
        }

        function abrir_comprard2(){
           window.location="comprar2.html?d2="+document.getElementById('campoDivisa2').value+"&v2="+document.getElementById('campoValor2').value;
        }

        function abrir_venderd2(){
           window.location="vender2.html?d2="+document.getElementById('campoDivisa2').value+"&v2="+document.getElementById('campoValor2').value;
        }
   
       
  </script>

</body>
</html>