<!doctype html>
<html lang="en">
<head>
  <title>INICIO</title>
  <meta charset= "utf-8">
  <meta name= "viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie-edge">
  <link rel="stylesheet"type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/personalizado.css">
   <link href="css/business-casual.css" rel="stylesheet">
 
 </style>
</head>
<body>

	<nav class="navbar navbar-expand "style="background-color:#000F1B">
		 
		    <a><img src="imagenes/logo3.png" class="w-50 float-right"></a>
		      <ul class="navbar-nav ml-auto">
			      	<li class="nav-item" >
			          <a href="login.html"  class="btn btn-info">INICIAR SESION</a>
			        </li>
			        <li class="nav-item">
			          <a href="registro.html"  class="btn btn-info">REGISTRARSE</a>
			        </li>
		      </ul>
		    </div>
		 </div>
	</nav>
       
   
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="img/intro.jpg" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-lower">BIENVENIDO A</span>
          </h2>
         <a> <img src="imagenes/logo.png" class="w-50 float-center"></a>
        </div>
      </div>
    </div>
  </section>

		<!-- /.container -->
		<script src="js/jquery-3.3.1.min.js"></script>
		<script src="js/popper.min.js"></script>
		<script src="js/bootstrap.min.js"></script>




</body>
</html>